/env

# ignorar todos los archivos que terminen en .log
*.log

# excepto production.log
!production.log


# ignorar todos los archivos terminados en .pdf dentro de la carpeta doc y sus subdirectorios
doc/**/*.pdf